<% include partial/header %>

    <div class="row">
        <div class="col-sm-2 col-md-2 book text-center">
            <img src="/img/default_book.jpeg" height="200" alt="book"/>
        </div>
        <div class="col-sm-2 col-md-2 book text-center">
            <img src="/img/default_book.jpeg" height="200" alt="book"/>
        </div>
        <div class="col-sm-2 col-md-2 book text-center">
            <img src="/img/default_book.jpeg" height="200" alt="book"/>
        </div>
        <div class="col-sm-2 col-md-2 book text-center">
            <img src="/img/default_book.jpeg" height="200" alt="book"/>
        </div>
        <div class="col-sm-2 col-md-2 book text-center">
            <img src="/img/default_book.jpeg" height="200" alt="book"/>
        </div>
        <div class="col-sm-2 col-md-2 book text-center">
            <img src="/img/default_book.jpeg" height="200" alt="book"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-md-2 book text-center">
            <img src="/img/default_book.jpeg" height="200" alt="book"/>
        </div>
        <div class="col-sm-2 col-md-2 book text-center">
            <img src="/img/default_book.jpeg" height="200" alt="book"/>
        </div>
        <div class="col-sm-2 col-md-2 book text-center">
            <img src="/img/default_book.jpeg" height="200" alt="book"/>
        </div>
        <div class="col-sm-2 col-md-2 book text-center">
            <img src="/img/default_book.jpeg" height="200" alt="book"/>
        </div>
        <div class="col-sm-2 col-md-2 book text-center">
            <img src="/img/default_book.jpeg" height="200" alt="book"/>
        </div>
        <div class="col-sm-2 col-md-2 book text-center">
            <img src="/img/default_book.jpeg" height="200" alt="book"/>
        </div>
    </div>
<% include partial/footer %>