/*https://www.templatemonster.com/website-templates/46251.html*/
@white: #fff;
@black: #272727;
@red: #F20000;
@yellow: #C0A12D;
@grey: #9D9E97;

html, body {
	margin:0;
	padding:0;
	height:100%;
}

body{
	font-size: 14px;
	padding-top: 70px;
	font-family: 'Tangerine', cursive;
	font-size: 30px;
}

#header{
	width: 100%;
	line-height: 20px;
	padding: 0;
	margin: 0;
}

.wide {
  width:100%;
  height:300px;
  background-image:url('../img/header_red_apple.jpg');
  background-size:cover;
}

.navbar {
	height: 70px;
}

.navbar .nav{
	margin-top: 15px;
}

.navbar .nav li {
	border-left: 3px solid transparent;
}

.navbar .nav li:hover {
	border-left: 3px solid @red;
}

.navbar .nav li a{
	color: @white;
}

.navbar .nav li:hover a{
	color: @black;
}

#main{
	min-height: ~"calc(100% - 120px)"; /* 100% - header - footer */
}

h1{
	color: @yellow;
	font-size: 30px;
	margin: 7px 0 0 0;
}

.book{
	border: 3px solid transparent;
	border-radius: 3px;
}

.book:hover{
	border: 3px solid @yellow;
}

.form-control{
	font-family: 'Arial';
    font-size: 14px;
}

#footer{
    width: 100%;
    line-height: 20px;
    padding: 20px;
    font-family: 'Arial';
    font-size: 14px;
}

button:focus {outline:0;}
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}

form {
	padding: 20px 0;
}

input.btn{
	font-size: 30px;
}

#message{
	color: @red;
	margin: 20px 0 0 0;
}
