/*https://www.templatemonster.com/website-templates/46251.html*/
@white: #fff;
@black: #272727;
@red: #F20000;
@yellow: #C0A12D;
@grey: #9D9E97;
@lightGrey: #F7F7F7;

html, body {
	margin:0;
	padding:0;
	height:100%;
}

body{
	font-size: 14px;
	padding-top: 70px;
	font-family: 'Tangerine', cursive;
	font-size: 30px;
}

#header{
	width: 100%;
	line-height: 20px;
	padding: 0;
	margin: 0;
}

.wide {
  width:100%;
  height:300px;
  background-image:url('../img/header_red_apple.jpg');
  background-size:cover;
}

.navbar {
	height: 70px;
}

.navbar .nav{
	margin-top: 15px;
}

.navbar .nav li {
	border-left: 3px solid transparent;
}

.navbar .nav li:hover {
	border-left: 3px solid @red;
}

.navbar .nav li a{
	color: @white;
}

.navbar .nav li:hover a{
	color: @black;
}

#main{
	min-height: ~"calc(100% - 120px)"; /* 100% - header - footer */
}

h1{
	color: @yellow;
	font-size: 30px;
	margin: 7px 0 0 0;
}

h2{
	color: @red;
	font-weight: bold;
	font-size: 40px;
}

.book{
	border: 3px solid transparent;
	border-radius: 3px;
}

.book:hover{
	border: 3px solid @yellow;
}

#addBook{
	margin-bottom: 15px;
}

#mybooks{
	list-style: none;
	font-family: 'Arial';
	font-size: 14px;
}

#mybooks li{
	padding: 10px 0;
	border-left: 3px solid transparent;
	position: relative;
}

#mybooks li:hover{
	background-color: @lightGrey;
	border-left: 3px solid @yellow;
	cursor: pointer;
}

#mybooks li #deleteBook{
	position: absolute;
	top: 10px;
	right: 30px;
	color: @grey;
}

#mybooks li #deleteBook:hover{
	color: @red;
}

.form-control, .modal{
	font-family: 'Arial';
    font-size: 14px;
}

#allBooks{
	margin: 20px 0;
}

#bookUsers{
	width: 100%;
}

#bookUsers tbody {
	display: table;
	width: 100%;
}

#bookUsers tbody td{
	padding: 5px;
}

h6{
	font-weight: bold;
}

#requestModal #bookTitle{
	float: left;
}

#footer{
    width: 100%;
    line-height: 20px;
    padding: 20px;
    font-family: 'Arial';
    font-size: 14px;
}

button:focus {outline:0;}
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}

form {
	padding: 20px 0;
}

button, input.btn{
	font-family: 'Arial';
    font-size: 14px;
}

button:hover, input.btn:hover{
    background-color: @grey;
}

#message{
	color: @red;
	margin: 20px 0 20px 0;
	font-family: 'Arial';
	font-size: 14px;
}
