<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <ul class="nav">
            <li role="presentation" class="active navbar-left"><a href="#">Home</a></li>
            <li role="presentation" class="navbar-left"><a href="#">Login</a></li>
            <li role="presentation" class="navbar-left"><a href="#">Register</a></li>
            <li role="presentation" class="navbar-left"><a href="#">My profile</a></li>
            <li role="presentation" class="navbar-left"><a href="#">My books</a></li>
            <li role="presentation" class="navbar-left"><a href="#">My requests</a></li>
        </ul>
    </div>
</nav>